$primary = #2a5cbc
$secondary = #002846
$dashboard-background = #e5e9ee
$dashboard-text = #585A5C

$break-pico = 320px
$break-nano = 375px
$break-micro = 425px
$break-kilo = 768px
$break-mega = 1024px
$break-giga = 1280px
$break-tera = 1440px

$layout-min-width = 300px
$layout-page-padding = 10px