body
  font-family Arial
  font-size 14px

h1
  color $primary
  font-size 2.5em

h1, h2, h3, h4, h5
  margin 20px 0

h2, h3, h4, h5
  color $secondary

h2
  font-size 2em

h3
  font-size 1.75em

h4
  font-size 1.5em

h5
  font-size 1.25em

p
  margin-bottom 10px
  line-height 130%
  text-align justify

pre
  font-family monospace
  font-size 0.8em
  background #feffeb
  padding 10px
  border-radius 6px