@import "app-pagination-variables.styl"

.app-pagination
  margin 30px 0 0 0
  display flex
  flex-wrap wrap

  > button
    border 1px solid $pagination-button-border
    color $pagination-button-color
    cursor pointer
    text-transform uppercase
    background transparent
    border-radius 4px
    min-height 40px
    padding 5px 20px
    margin 0 10px 0 0
    transition background .3s ease-in-out
    outline none

    &:last-child
      margin 0

    &:hover
      background darken($dashboard-background, 10)

    &.app-pagination__append
      font-size 1.1em
      font-weight bold

    &.app-pagination__to-top
      font-weight lighter

@media (max-width $break-micro)
  .app-pagination
    > button
      margin 0 0 10px 0
      display block
      width 100%