$table-border = #E9EAEA
$table-background = #fff
$table-text = $secondary
$table-text-cell = #7B7B7B
$table-text-link = $secondary
$table-min-height = 370px
$table-shadow-color = rgba(255, 255, 255, 0.95)
$table-shadow-color-loading = rgba(140, 140, 140, 0.9)
